<% unless @bookmarks %>

  <h1 class="title special">Readabilify</h1>
  <h3 class="subtitle special">Abilifying Readability</h3>

  <div class="copy">
    <p class="box">
      <span class="title">Go from...</span>
      <%= image_tag "reading-list.jpg" %>
      <br/>
      I'm inna browser.
    </p>

    <%= image_tag "right-arrow.png", class: 'arrow' %>

    <p class="box">
      <span class="title">To...</span>
      <%= image_tag "types.png" %>
      <br/>
      Format freedom.
    </p>
  </div>

  <%= link_to new_readability_session_path, class: 'login button' do %>
    <h4 class="login-text special">Login with</h4>
    <%= image_tag("readability-logo.png") %>
  <% end %>


<% else %>
  <div class="result-group"> 
    <div class="filter">
      Filter List
      <%= form_tag home_path, method: :get do |f| %>
        <ul>
          <li><%= check_box_tag :archive, '1', params[:archive] == '1' %> Show Archived</li>
          <li><%= check_box_tag :favorite, '1', params[:favorite] == '1' %> Favorites</li>
        </ul>
        <br/>
        <%= submit_tag "Update", class: 'button' %>
      <% end %>
    </div>

    <table class="article-list">
      <thead>
        <tr>
          <th>Title</th>
          <th class="filter-show"><a href="#" title="Filters"><%= image_tag "gear.png" %></a></th>
        </tr>
      </thead> 
      <% @bookmarks.each do |article| %>
        <tr>
          <td class="titles"><%= article['article']['title'] %></td>
          <td class="links">
            <%= format_link(article, :pdf) %>
            <%= format_link(article, :epub) %>
            <%= format_link(article, :mobi) %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @bookmarks %>
  </div>
<% end %>
